:root {
  --background-body: #E5E5E5;
  --background-content: #1D1D1D;
  --text-color: #292929;
  --primary-color: #4DFF7C;
  --second-color: #89DDFF;
}

body {
  margin: 0;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-body);
  color: var(--text-color);
}

header {
  position: fixed;
  width: 100%;
  height: 3.5rem;
  top: 0px;
  left: 0px;
  background-color: var(--background-content);
  color: var(--background-body);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.header__content {
  max-width: 1280px;
  padding: 0 1rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 3.5rem;
}

.logo {
  font-size: 20px;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: var(--background-body);
}

main {
  width: 80%;
  margin: auto;
  margin-bottom: 3rem;
  margin-top: 4.5rem;
  padding: 2rem;
  /* background-color: var(--background-content); */
  /* box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */
  border-radius: 3px;
}

form {
  width: fit-content;
  margin: auto;
}

input, select {
  border: none;
  border-radius: 3px;
  padding: 6px;
  margin:  0 6px;
}

h3 {
  text-align: center;
  margin-top: 0;
}

button {
  background-color: var(--second-color);
  color: var(--text-color);
  border: none;
  cursor: pointer;
  border-radius: 3px;
  font-weight: bold;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 0.5rem;
}

.btn-submit {
  background-color: var(--primary-color);
  padding: 6px 12px;
  cursor: pointer;
  font-weight: bolder;
}

button:hover,
.btn-submit:hover {
  opacity: 0.8;
}

.all-users {
margin-top: 3rem;
}

.titles,
.row {
  width: 100%;
  display: flex;
  text-align: center;
}
.titles{
  font-weight: bold;
  background-color: var(--text-color);
  color: var(--background-body);
}

.titles div,
.row input,
.row select,
  .row div{
  width: 20%;
  padding: 0.5rem;
}

.hide-form {
  display: none;
}

@media screen and (max-width: 920px) {
  main {
    width: 90%;
  }
}

@media screen and (max-width: 520px) {
  main {
    width: 100%;
  }
}